# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# IMPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
importFrom("R.methodsS3", "setMethodS3")
importFrom("R.methodsS3", "throw")
importFrom("R.oo", "Package")
importFrom("R.oo", "startupMessage")

# Importing Class:es
importFrom("R.utils", "Arguments")

## Importing generics

## Importing functions
importFrom("R.utils", "copyFile")
importFrom("R.utils", "isDirectory")
importFrom("R.utils", "mkdirs")
importFrom("R.utils", "setOption")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# EXPORTS
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
export("R.archive")
export("archiveFile")
export("getArchiveOption")
export("setArchiveOption")
export("getArchiveRootPath")
export("setArchiveRootPath")
export("getArchivePath")
export("getArchivePathname")


# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# DECLARE
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
# default
S3method("archiveFile", "default")
S3method("getArchiveFilename", "default")
S3method("getArchiveOption", "default")
S3method("getArchivePath", "default")
S3method("getArchivePathname", "default")
S3method("getArchiveRootPath", "default")
S3method("setArchiveOption", "default")
S3method("setArchiveRootPath", "default")

